#translations_languages td, #translations_languages th {
  padding-right: 8px;
  max-width: 500px;
  text-align: left;
}

#translations_languages th:first-child {
  min-width: 80px;
}

#translations_languages th:nth-child(2) {
  min-width: 300px;
}

#translations_languages tr {
  padding-bottom: 6px;
  height: 30px;
}

.translation-source-noexist {
  color: #f9c018;
}

#translations_single_values th {
  min-width: 400px;
}

#translations_single_values td textarea {
  min-width: 400px;
}
